<nav class="bottom-nav hidden">
    <button class="nav-item" data-target="dashboard" onclick="window.handleNavClick('dashboard')">
        <img src="assets/logo.png" alt="Home" class="navbar-icon">
    </button>
    <button class="nav-item" data-target="inventory" onclick="window.handleNavClick('inventory')">
        <img src="assets/stock.png" alt="Magazzino" class="navbar-icon">
    </button>
    <button class="nav-item" data-target="lab" onclick="window.handleNavClick('lab')">
        <img src="assets/lab.png" alt="Lab" class="navbar-icon">
    </button>
    <button class="nav-item" data-target="info" onclick="window.handleNavClick('info')">
        <img src="assets/fiore.png" alt="Info" class="navbar-icon">
    </button>
    <button class="nav-item" data-target="profile" onclick="window.handleNavClick('profile')">
        <img src="assets/user.png" alt="Profilo" class="navbar-icon">
    </button>
</nav>
