.light {
  --md-sys-color-primary: rgb(18 107 86);
  --md-sys-color-surface-tint: rgb(18 107 86);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(163 242 215);
  --md-sys-color-on-primary-container: rgb(0 81 64);
  --md-sys-color-secondary: rgb(75 99 90);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(206 233 221);
  --md-sys-color-on-secondary-container: rgb(52 76 67);
  --md-sys-color-tertiary: rgb(64 99 118);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(196 231 255);
  --md-sys-color-on-tertiary-container: rgb(40 75 94);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 246);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 246);
  --md-sys-color-on-surface: rgb(23 29 26);
  --md-sys-color-surface-variant: rgb(219 229 223);
  --md-sys-color-on-surface-variant: rgb(63 73 69);
  --md-sys-color-outline: rgb(111 121 117);
  --md-sys-color-outline-variant: rgb(191 201 195);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 47);
  --md-sys-color-inverse-on-surface: rgb(236 242 238);
  --md-sys-color-inverse-primary: rgb(135 214 188);
  --md-sys-color-primary-fixed: rgb(163 242 215);
  --md-sys-color-on-primary-fixed: rgb(0 32 24);
  --md-sys-color-primary-fixed-dim: rgb(135 214 188);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 64);
  --md-sys-color-secondary-fixed: rgb(206 233 221);
  --md-sys-color-on-secondary-fixed: rgb(7 32 25);
  --md-sys-color-secondary-fixed-dim: rgb(178 204 193);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 76 67);
  --md-sys-color-tertiary-fixed: rgb(196 231 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 44);
  --md-sys-color-tertiary-fixed-dim: rgb(168 203 226);
  --md-sys-color-on-tertiary-fixed-variant: rgb(40 75 94);
  --md-sys-color-surface-dim: rgb(213 219 215);
  --md-sys-color-surface-bright: rgb(245 251 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 241);
  --md-sys-color-surface-container: rgb(233 239 235);
  --md-sys-color-surface-container-high: rgb(227 234 229);
  --md-sys-color-surface-container-highest: rgb(222 228 224);
}
